* {
  cursor: url(https://mirojones.github.io/icons/cursors/Cursor-ps-2.svg), none;
  font-size: 1rem;
  font-family: monospace;
}

button {
  padding: inherit;
  color: inherit;
  background-color: blue;
}
