/* Global styles.
   Add to every HTML file */

* {
  font-size: 1rem;
  font-family: monospace;
}

button {
  padding: inherit;
  color: inherit;
  background-color: inherit;
}

.button-style {
  background-color: #f00;
  color: #fff;
  text-decoration: none;
}

.link-style {
  background-color: inherit;
  color: inherit;
  text-decoration: underline;
  font-size: inherit;
  font-family: inherit;
  font: inherit;
}

@media (prefers-color-scheme: dark) {
   body {
      color: #fff;
      background-color: #000;
   }
}
