:root {
  --accent: #f00;
  --accent2: #149954;
}

* {
  font-family: Cormorant, sans-serif;
}

body {
  font-size: 1rem;
}

a {
  color: var(--accent);
}

a:active, a:hover {
  font-style: italic;
  color: var(--accent2);
}

h1 {
  text-decoration: inherit;
  color: inherit;
}

embed {
  padding: 0;
}

/* email obfuscation */
span.email b {
	display: none;
}
